<!-- 동아리 상세 페이지 -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="clubPage.css" />
    <title>동아리 상세 페이지</title>
  </head>
  <body>
    <!-- 상단바 -->
    <header>
      <a href="home.html">
        <img src="../image/logo.jpg" class="logo" />
      </a>
      <nav>
        <a href="#" class="nav-link">로그아웃</a>
        <span class="separator">|</span>
        <a href="appHistory.html" class="nav-link">신청 내역</a>
      </nav>
    </header>

    <div class="container club-detail">
      <div class="club-content">
        <!-- 왼쪽 -->
        <div class="poster-section">
          <img
            src="../image/교양/사진예술연구회.jpg"
            alt="동아리 포스터"
            class="club-poster"
          />

          <p class="club-description">
            사진예술연구회는 사진을 매개로 창의적 표현력과 예술적 감각을
            키워나가는 동아리입니다. 정기 출사와 전시회를 통해 사진 실력을
            향상시키고, 구성원 간 협업과 비평을 통해 예술적 통찰을 나눕니다.
            초보자부터 전문가까지 누구나 환영하며, 함께 성장하는 예술 공동체를
            지향합니다.
          </p>
        </div>

        <!-- 중간 구분선 -->
        <div class="divider"></div>

        <!-- 오른쪽 -->
        <div class="info-section">
          <h2 class="club-name">사진예술연구회</h2>
          <p><strong>모집기간 </strong> &nbsp; 2025.05.01 ~ 2025.05.31</p>
          <p><strong>분과 </strong> &nbsp; 교양</p>
          <a href="applyForm.html" class="apply-button">신청하기</a>
        </div>
      </div>
    </div>
  </body>
</html>