<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="style.css" />
    <script src="transition.js" defer></script>
  </head>
  <body>
    <header>
      <a href="home.html">
        <img
        src="../image/logo.jpg"
        class="logo"
        />
      <nav>
        <a href="login.html" class="nav-link">로그인</a>
        <span class="separator">|</span>
        <a href="signup.html" class="nav-link">회원가입</a>
      </nav>
    </header>

    <main>
      <div class="login-container">
        <div class="login-box">
          <h3>로그인</h3>
          <form>
            <input type="text" value="아이디" id="id" name="id" />
            <input type="text" value="비밀번호" id="password" name="password" />

            <button type="submit">로그인</button>
          </form>
        </div>
        <div class="sub-signup-box">
          <p>처음이신가요 ?</p>
          <button id="to-signup">회원가입</button>
        </div>
      </div>
    </main>
  </body>
</html>
