@import "applyFormStye.css";

body {
  margin: 0;
  font-family: "Inria Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
}

.logo {
  height: 50px;
}

nav .nav-link {
  text-decoration: none;
  color: #8f8f8f;
  margin: 0 10px;
  font-weight: bold;
}

nav span.separator {
  color: #b8b8b8;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* 공통: 로그인/회원가입 컨테이너 */
.login-container,
.signup-container {
  display: flex;
  padding: 30px;
  border-radius: 10px;
}

/* 공통: 로그인/회원가입 입력 박스 */
.login-box,
.signup-box {
  background-size: cover;
  background-position: center;
  padding: 60px 50px;
  color: white;
  width: 350px;
  height: 400px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px 0 20px rgba(0, 0, 0, 0.4);
  border: none;
}

/* 로그인용 배경 */
.login-box {
  background: linear-gradient(rgba(0, 84, 166, 0.8), rgba(0, 84, 166, 0.8)),
    url("https://www.cju.ac.kr/site/www/images/contents/cts4417_img2.jpg");
  background-size: cover;
  background-position: center;
}

/* 회원가입용 배경 */
.signup-box {
  background: linear-gradient(rgba(0, 84, 166, 0.8), rgba(0, 84, 166, 0.8)),
    url("https://www.cju.ac.kr/site/www/images/contents/cts4417_img1.jpg");
  background-size: cover;
  background-position: center;
}

.login-box h2 {
  margin-bottom: 40px;
}

.signup-box h2 {
  margin-bottom: 25px;
}

.login-box label,
.signup-box label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

.signup-box input {
  width: 100%;
  padding: 1px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

.login-box button,
.signup-box button {
  margin-top: 40px;
  background-color: #b8b8b8;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}

/* 로그인페이지 회원가입 박스 */
.sub-signup-box,
.sub-login-box {
  background: white;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-signup-box p,
.sub-login-box p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #8f8f8f;
}

.sub-signup-box button,
.sub-login-box button {
  background: white;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.sub-signup-box button:hover,
.sub-login-box button:hover {
  color: #ffffff;
  background-color: #8f8f8f;
}

/* 로그인-회원가입 애니메이션 */

@keyframes slideIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-30%);
    opacity: 0;
  }
}

.box-slide-in {
  animation: slideIn 0.9s;
}

.box-slide-out {
  animation: slideOut 0.6s ease-in;
}
